Source: melia
Section: python
Priority: extra
Build-Depends: cdbs (>= 0.4.43),
 debhelper (>= 6),
 python,
 python-support (>= 0.6.4),
 python-distutils-extra (>= 2.10)
Maintainer: Michael Smith <crazedpsyc@duckduckgo.com>
Standards-Version: 3.8.3
XS-Python-Version: current

Package: melia
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends},
 melia,
 python-dbus,
 python-desktopcouch-records,
 python-gconf,
 python-wnck,
 python-cairo,
 python-gobject,
 python-launchpad-integration,
 python-gtk2,
 yelp
Description: A simple, fast desktop shell written in PyGTK
 Melia is a simple and fast desktop shell for GNOME, which is completely
 themable. Enjoy!
